<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/" method="POST">
        <fieldset>
            Name: <input type="text" name="name"><br> DOB: <input type="date" name="dob"><br> Email: <input type="email" name="email"><br> MobNo: <input type="number" name="mob"><br> RollNo: <input type="number" name="roll"><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>

</html>